repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --config, server/pyproject.toml]
        files: server/
      - id: ruff-format
        args: [--config, server/pyproject.toml]
        files: server/
